/****************** Title section ****************************/
.top-page {
  background-color: #eff8ff;
}

.header {
  padding-top: 1%;
}
img {
  width: 50%;
  padding-bottom: 5%;
}

#largescreennav {
  display: inline-block;
}

#smallscreennav {
  display:none;
}



@media (max-width: 992px) {
  #largescreennav {
    display: none;
  }

  #smallscreennav {
    display: inline-block;
    text-align: center;
  }
}

/*************************** End Title Section ********************************** */


/********************** Start Middle Section ***************************************/


#middle-container {
  margin-top: 2%;
}

h2 {
  margin-bottom: 7%;
}

.pic {
  line-height: 2;
  margin-top: 10%;
}

.recent-image {
  float: left;
  margin-right: 1%;
}

p {
  margin-top: 15px;
}

.text {
  margin: auto 0 auto 0;
}











/*********************** End Middle Section *****************************************/