/****************** Title section ****************************/
body {
  background-color:	#eeebe6;
  margin-bottom: 0;
}

.top-page {
   background-color: #eeebe6;
}

.header {
  padding-top: 1%;
}
img {
  width: 50%;
  padding-bottom: 5%;
}

#largescreennav {
  display: inline-block;
}

#smallscreennav {
  display:none;
}



@media (max-width: 992px) {
  #largescreennav {
    display: none;
  }

  #smallscreennav {
    display: inline-block;
}
}

/*************************** End Title Section ********************************** */


/********************** Start Middle Section ***************************************/

/* Recent Artwork Section */
#middle-container {
  margin-top: 2%;
}

.recent-artwork {
  margin-bottom: 10%;
}

h2 {
  margin-bottom: 7%;
}

.pic {
  line-height: 2;
  margin-top: 10%;
}

.recent-image {
  float: left;
  margin-right: 1%;
}

.text {
  margin: auto 0 auto 0;
}

/* End Recent Artwork Section */

/* Start About Section */

.mike {
  margin-bottom: 2%;
}

hr {
  border: 1px solid black;
  height: 3px;
}

.about-link {
  text-decoration: none;
  color: inherit;
}

.contact-link {
  text-decoration: none;
  color: inherit;
}

.map-link {
  text-decoration: none;
  color: inherit;
}

/* .bio {
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
} */

.instagram-icon {
  color: inherit;
  padding-top: 5%;
  margin-top: 50px;
  width: 50%;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.etsy-icon {
  color: inherit;
  padding-top: 5%;
  margin-top: 50px;
  width: 51%;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.society6-icon {
  color: inherit;
  padding-top: 5%;
  margin-top: 51px;
  width: 50%;
  display: block;
  text-align: center;
  margin: 0 auto;

}




/*********************** End Middle Section *****************************************/

/*********************** Bottom Container Section Start *****************************/

.bottom-container {
  height: 150px;
  background-color: #96b1ee;
  text-align: center;
}

.backtotop-link {
  margin-top: 5%;
}

/***************************** Pages *************************/

#about-heading {
  margin-top: 5%;
  padding-bottom: 0;
}

#contact-heading {
  margin-top: 5%;
  padding-bottom: 0;
}

#custom-art-heading {
  margin-top: 5%;
  padding-bottom: 0;
}

#about-pic {
 border-style: solid;
 padding-bottom: 0;
 width: 60%;
}

.about-summary {
  line-height: 2;
  display: inline-block;
  margin: 0 auto 10% auto;
  padding-right: 20%;
  padding-left: 20%;
  /* text-indent: 2em; */
  font-size: 1.4rem;
}
#custom-pic {
  width: 37%;
}

 @media (max-width: 1000px) and (min-width: 700px) {
  #about-pic {
    width: 40%;
  }
}

@media (max-width: 1000px) {
  .about-summary {
    margin-top: 5%;
  }
}

a {
  text-decoration: none;
}

/* gallery */


.heading-text {
  font-family: 'Montserrat', sans-serif;
  color: #121F32;
}

.body-text {
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #121F32;
}

.footer-icon {
  color: inherit;
}